.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.para {
  margin-left: 100px;
  margin-right: 100px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  background-color: dimgray;
  min-height: 100vh;
}

.welcome-cont {
  position: relative;
  text-align: center;
  color: white;
}

.welcome-img {
  min-width: 100%;
  max-width: 100%;
  display: block;
}

.welcome-head {
  font-size:150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.course-box {
  overflow-wrap: break-word;
  background-color: rgb(138, 138, 138);
  padding: 30px 15px 30px 15px;
  border-radius: 5px;
  border-style: outset;
}

.course-box:hover {
  background-color:lightskyblue;
}

.info-cont {
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 20%;
  align-content: center;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.course {
  color:#282c34;
}

.close {
  color: black;
  float: right;
}

.close:hover {
  color:red;
  cursor: pointer;
}